# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.env
.env
backend/venv/
venv/
ENV/
env/
.Python

# Node
node_modules/
.next/
frontend/robust-frontend/.env
.env.local

# OS-specific
.DS_Store

# Logs and system
*.log

# IDEs/editors
.vscode/
.idea/

# Build outputs
dist/
build/
out/
coverage/
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Others
*.bak
*.swp
*.tmp